<h2>Item List</h2>

<input type="button" class="btn btn-primary pull-right" value="New Item" onclick="window.location= '#AddItems'" />
<br />
<hr />
<table class="table table-bordered table-striped" id="tblItems">
    <thead>
        <tr>
            <th style="width=10px">Sr.No.</th>
            <th>Item Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!--<tr ng-repeat="item in ItemMasterLists">
            <td>
                {{ $index + 1}}
            </td>
            <td>
                <a href="#ViewItem/{{item.ItemId}}">{{item.ItemName}}</a> 
            </td>
            <td>
                {{item.Price}}
            </td>
            <td>
                <a href="{{item.ImagePath}}" target="_blank">
                    <a href="{{item.ImagePath}}" target="_blank" ng-if="item.ImagePath != null">  <img src="{{item.ImagePath}}" ng-if="item.ImagePath != null" class="img-thumbnail" height="50" width="50" />
            </td>
            <td>
                <button type="submit" class="btn btn-danger btn-sm" title="Delete" ng-click="DeleteItem(item.ItemId)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>

        </tr>-->
    </tbody>
</table>

<script>
  
</script>