<link rel="stylesheet" href="Content/jcrop.css">
<link rel="stylesheet" href="Content/sweetalert.css">
<link href="Content/plugins/RowReorder-1.2.7/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="Content/plugins/Responsive-2.2.4/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="Content/plugins/DataTables-1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />

<div data-ng-app="ShopBridgesApp">
    <div data-ng-view=""></div>
</div>

<script src="Content/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Content/Scripts/jcrop.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="Content/plugins/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
<script src="Content/plugins/Responsive-2.2.4/js/dataTables.responsive.min.js"></script>
<script src="Content/plugins/RowReorder-1.2.7/js/dataTables.rowReorder.min.js"></script>


<script type="text/javascript" src="Content/Scripts/angular.min.js"></script>
<script type="text/javascript" src="Content/Scripts/angular-route.min.js"></script>
<script type="text/javascript" src="Content/Scripts/angular-animate.min.js"></script>
<script type="text/javascript" src="Content/Scripts/ng-file-upload.js"></script>

<script type="text/javascript" src="app/app.js?v=01"></script>
<script type="text/javascript" src="app/services/ExceptionHandler.js?v=01"></script>
<script type="text/javascript" src="app/services/CommonServices.js?v=01"></script>
<script type="text/javascript" src="~/app/controllers/ItemController.js?v=01"></script>